#h1{
    position: relative;
}
#text{
    position: absolute;
    top: 500px;
    left: 400px;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
}